<div class="footer">
    <div class="footer__element">
        <p class="footer__elementText ">What's gone wrong in your system?. Jesus Christ, we're nice. Because I
            feel
            disgrace because you're all in my face.</p>
    </div>
    <div class="footer__element">
        <p class="footer__elementText ">Andrej's name <br> Andrej's phone <br> Andrej's email </p>
    </div>
</div>