<div class="footer">
    <div class="footer__element">
        <p class="footer__elementText allTheText">What's gone wrong in your system?. Jesus Christ, we're nice. Because I feel
            disgrace because you're all in my face.</p>

        <p class="footer__elementText allTheText">I use the microphone like Picasso used clay. Twenty four is my age and twenty
            two is my gauge. Just give it one time for your mind.</p>
    </div>
    <div class="footer__element">
        <p class="footer__elementText allTheText">Contact Details</p>
    </div>
</div>
