<div class="nav">
    <div class="nav__element">
        <p class="nav__elementText allTheText">About Artist</p>
    </div>
    <div class="nav__element">
        <p class="nav__elementText allTheText">About Project</p>
    </div>
    <div class="nav__element">
        <p class="nav__elementText allTheText">For Interviewees</p>
    </div>
    <div class="nav__element">
        <p class="nav__elementText allTheText">Home</p>
    </div>
</div>
