<div class="nav">
    <div class="nav__button nav__button--video">
        <p class="nav__buttonText ">Video</p>
    </div>
    <div class="nav__button nav__button--artist">
        <p class="nav__buttonText ">{{artist.title}}</p>
    </div>
    <div class="nav__button nav__button--project">
        <p class="nav__buttonText ">{{about.title}}</p>
    </div>
    <div class="nav__button nav__button--interviewees">
        <p class="nav__buttonText ">{{interviewees.title}}</p>
    </div>
</div>
