<div class="nav">
    <div class="nav__element">
        <p class="nav__elementText">About Artist</p>
    </div>
    <div class="nav__element">
        <p class="nav__elementText">About Project</p>
    </div>
    <div class="nav__element">
        <p class="nav__elementText">For Interviewees</p>
    </div>
</div>
