<div class="nav">
    <div class="nav__button nav__button--video">
        <p class="nav__buttonText allTheText">Video</p>
    </div>
    <div class="nav__button nav__button--artist">
        <p class="nav__buttonText allTheText">{{artist.title}}</p>
    </div>
    <div class="nav__button nav__button--project">
        <p class="nav__buttonText allTheText">{{about.title}}</p>
    </div>
    <div class="nav__button nav__button--interviewees">
        <p class="nav__buttonText allTheText">{{interviewees.title}}</p>
    </div>
</div>
