<div class="content__wrap">
    <section class="content__screen content__screen--video">
        <video class="content__video" controls>
            <source class="content__source" src={{video}} type="video/mp4">
        </video>
    </section>
    <section class="content__screen content__screen--artist">
        <p>{{artist.descriptionText}}</p>
    </section>
    <section class="content__screen content__screen--project">
        <p>{{about.descriptionText}}</p>
    </section>
    <section class="content__screen content__screen--interviewees">
        <p>{{interviewees.descriptionText}}</p>
    </section>

</div>
