<div class="content__wrap">
    <section class="content__screen content__screen--video">
        <p>video</p>
    </section>
    <section class="content__screen content__screen--artist">
        <p>About Artist</p>
    </section>
    <section class="content__screen content__screen--project">
        <p>About project</p>
    </section>
    <section class="content__screen content__screen--interviewees">
        <p>For Interviwees</p>
    </section>

</div>
