<div class="content__wrap">
    <section class="content__screen content__screen--video">
        <div  class='content__videoWrap'>
            <video class="content__video" autoplay muted loop id="myVideo">
                <source class="content__source" src={{video}} type="video/mp4">
            </video>
        </div>
    </section>
    <section class="content__screen content__screen--artist">
        <p>{{artist.descriptionText}}</p>
    </section>
    <section class="content__screen content__screen--project">
        <p>{{about.descriptionText}}</p>
    </section>
    <section class="content__screen content__screen--interviewees">
        <p>{{interviewees.descriptionText}}</p>
    </section>

</div>