body,html{
    height:500vh;
    background-image: linear-gradient(black, grey, white);
}

.wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
