body,html{
    height:100%;
    background-color: white;
    overflow: hidden;

}

.wrapper{
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
