.content{
  &__wrap {
      height: 100%;
      width: 100%;
      position: relative;
  }
  &__screen {
    position: absolute;
    height: 100%;
    width: 100%;
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    &--video {
    }
    &--project {
      
      transform: translateX(100%);
    }
    &--interviewees {

      transform: translateX(-100%);
    }
    &--artist {

      transform: translateX(-100%);
    }


  }
  &__video {
    height: 100%;
    width: 100%;
  }
}
