.content{
  &__wrap {
      min-height: 100vh;
      width: 100%;
      color: white;
      position: relative;
      overflow-x: hidden;
  }
  &__screen {
    position: absolute;
    min-height: 100vh;
    width: 100%;
    padding-top: 128px;
    transition: transform 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
    background-color: $Black;
    &--video {
      padding-top: 0;
    }
    &--project {
      transform: translateX(100%);
    
    }
    &--interviewees {
      transform: translateX(-100%);
    }
    &--artist {
      transform: translateX(-100%);
    }
  }
  &__text {
    margin: 0 5%;
    font-family: 'Open Sans', sans-serif;
  }
  &__video {
    min-width: 100%;
    height: auto;
  }
}
