.footer {
    display: flex;
    justify-content: space-between;
    height: 20%;
    width:100%;
    position: fixed;
    visibility: hidden;
    bottom: 0;
    &__element{
        visibility: visible;
        max-height: 100%;
        width:50%;
        padding: 12px;
        display: flex;
        align-items: center;
        color: $White;
        font-family: 'Open Sans', sans-serif;
        &:first-child {
            justify-content: flex-start;
        }
        &:last-child {
            justify-content: flex-end;
        }
    }
}
