.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: $White;
  background-color: $Black;
  width: 100%;
  position: fixed;
  visibility: hidden;
  &__button{
    height: 50%;
      visibility: visible;
      margin: 0px 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 12px;
      border-radius: 25px;
      cursor: pointer;
  }
}
